<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header><% include partials/_header %></header>

    <!--<%= longURL %> - <%= shortURL %>-->

    <h2>ShortURL: <%= shortURL %></h2>
    <form method="POST" action="/urls/<%= shortURL %>">
      <input type="text" name="longURL" placeholder="<%= longURL %>">
      <button type ="submit" value="update">Update</button>
    </form>



</body>
</html>